@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.rancho{
     font-family: "Rancho", cursive;
}

.choco{
     color: #331A15;
}
.sma{
     color: #1B1A1A;
}